<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.guanqing.spotifystreamer" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".searchArtists.SearchActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".topTracks.TopTrackActivity"
            android:label="@string/title_activity_detail"
            android:parentActivityName=".searchArtists.SearchActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".searchArtists.SearchActivity" />
        </activity>
        <activity
            android:name=".playTrack.PlayTrackActivity"
            android:label="@string/title_activity_play_track"
            android:parentActivityName=".topTracks.TopTrackActivity"
>
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".topTracks.TopTrackActivity" />
        </activity>
    </application>

</manifest>
